/*!
 SKPlayer
 */
#skPlayer {
  width: 440px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
#skPlayer * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
#skPlayer *::before {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
#skPlayer *::after {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
#skPlayer .skPlayer-tip-loading {
  font-size: 30px;
  color: #6a6b6f;
  line-height: 100px;
  text-align: center;
}
#skPlayer .skPlayer-picture {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  border-radius: 7px 0 0 5px;
  z-index: 3;
}
#skPlayer .skPlayer-cover {
  width: 100%;
  transition: 0.37s;
  -webkit-transition: 0.37s;
  -moz-transition: 0.37s;
}
#skPlayer .skPlayer-cover.skPlayer-pause {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
#skPlayer .skPlayer-play-btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #d94240;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) translateZ(0);
  -webkit-transform: translate(-50%, -50%) translateZ(0);
  -moz-transform: translate(-50%, -50%) translateZ(0);
  -ms-transform: translate(-50%, -50%) translateZ(0);
  z-index: 2;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause {
  left: 50%;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause .skPlayer-left {
  border: 14px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause .skPlayer-right {
  top: 16px;
}
#skPlayer .skPlayer-play-btn span {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  transition: 0.37s;
  -webkit-transition: 0.37s;
  -moz-transition: 0.37s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
#skPlayer .skPlayer-play-btn span.skPlayer-left {
  border-left: 24px solid #fff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  left: 21px;
  top: 16px;
}
#skPlayer .skPlayer-play-btn span.skPlayer-right {
  border: 14px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  right: 21px;
  top: -76px;
}
#skPlayer .skPlayer-control {
  width: 310px;
  height: 75px;
  padding: 10px 15px 15px;
  background-color: transparent;
  float: right;
  border-radius: 0 7px 7px 0;
  position: relative;
  z-index: 2;
  text-align: left;
}
#skPlayer .skPlayer-button {
	display: block;
	cursor: pointer;
}
#skPlayer .skPlayer-control p {
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#skPlayer .skPlayer-control p.skPlayer-name {
  height: 21px;
  font-size: 18px;
  font-weight: 700;
  color: #6a6b6f;
}
#skPlayer .skPlayer-control p.skPlayer-author {
  height: 18px;
  font-size: 15px;
  color: #666;
  max-width: 90%;
}
#skPlayer .skPlayer-control > .skPlayer-percent {
  width: 310px;
  height: 6px;
  background-color: #ebebf2;
  margin: 9px 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
#skPlayer .skPlayer-control > .skPlayer-percent .skPlayer-line {
  width: 0;
  height: 100%;
  background-color: #d94240;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#skPlayer .skPlayer-control > .skPlayer-percent .skPlayer-line-loading {
  width: 0;
  height: 100%;
  background-color: #d3d3e0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
#skPlayer .skPlayer-control .skPlayer-time {
  font-size: 15px;
  color: #666;
  float: left;
}
#skPlayer .skPlayer-control .skPlayer-volume {
  width: 120px;
  height: 14px;
  float: right;
  position: relative;
  margin: 1px 79px 0 0;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon {
  width: 5px;
  height: 6px;
  position: absolute;
  background-color: #6a6b6f;
  top: 4px;
  left: -20px;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon.skPlayer-quiet::before {
  display: block;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon::before {
  content: '';
  display: none;
  width: 2px;
  height: 22px;
  transform: rotate(58deg);
  -webkit-transform: rotate(58deg);
  -moz-transform: rotate(58deg);
  -ms-transform: rotate(58deg);
  background-color: #6a6b6f;
  position: absolute;
  top: -8px;
  left: 5px;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon::after {
  content: '';
  display: block;
  width: 5px;
  height: 6px;
  border-width: 4px 5px;
  border-style: solid;
  border-color: transparent #6a6b6f transparent transparent;
  position: absolute;
  top: -4px;
  left: -5px;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-percent {
  position: absolute;
  width: 120px;
  height: 14px;
  background-color: #ebebf2;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  left: 0;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-line {
  height: 100%;
  width: 100%;
  background-color: #d94240;
  transition: 0.37s;
  -webkit-transition: 0.37s;
  -moz-transition: 0.37s;
}
#skPlayer .skPlayer-control .skPlayer-list-switch {
  width: 16px;
  height: 15px;
  position: absolute;
  right: 15px;
  bottom: 12px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon {
  display: block;
  width: 16px;
  height: 3px;
  background-color: #6a6b6f;
  position: absolute;
  right: 0;
  bottom: 6px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::before {
  content: '';
  display: block;
  width: 16px;
  height: 3px;
  background-color: #6a6b6f;
  position: absolute;
  left: 0;
  bottom: 6px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::after {
  content: '';
  display: block;
  width: 16px;
  height: 3px;
  background-color: #6a6b6f;
  position: absolute;
  left: 0;
  bottom: -6px;
}
#skPlayer .skPlayer-control .skPlayer-mode {
  width: 16px;
  height: 16px;
  background-image: url(./icon/loop_list.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 65px;
}
#skPlayer .skPlayer-control .skPlayer-lyric-switch {
  width: 16px;
  height: 16px;
  background-image: url(./icon/subtitles.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 40px;
}
#skPlayer .skPlayer-control .skPlayer-mode.skPlayer-mode-loop {
  background-image: url(./icon/loop_single.png);
}
#skPlayer .skPlayer-list-outter {
  display: none;
  width: 100%;
  position: relative;
  top: 0px;
  background-color: #fff;
  list-style: none;
  min-height: 38px;
  overflow-y: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
#skPlayer .skPlayer-list {
  width: 100%;
  padding-top: 6px;
  background-color: #fff;
  list-style: none;
  max-height: 171px;
  overflow-y: auto;
}
#skPlayer .skPlayer-list-banner {
  background-color: #2b2929;
  position: relative;
  bottom: 0px;
  height: 32px;
  width: 100%;
}
#skPlayer .skPlayer-list-banner .skPlayer-list-add {
  position: absolute;
  bottom: 8px;
  right: 15px;
  height: 17px;
  width: 17px;
  background-image: url(./icon/add.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  position: absolute;
}
#skPlayer .skPlayer-list-banner .skPlayer-list-clear {
  position: absolute;
  bottom: 8px;
  right: 40px;
  height: 17px;
  width: 17px;
  background-image: url(./icon/clear_list.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
#skPlayer .skPlayer-list li {
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 12px;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  overflow: hidden;
}
#skPlayer .skPlayer-list li:hover {
  background-color: #ddd;
}
#skPlayer .skPlayer-list li.skPlayer-curMusic {
  background-color: #b0b0b0;
}
#skPlayer .skPlayer-list li.skPlayer-curMusic .skPlayer-list-sign {
  display: block;
}
#skPlayer .skPlayer-list::-webkit-scrollbar {
  width: 14px;
}
#skPlayer .skPlayer-list::-webkit-scrollbar-track {
  border-left: 1px solid #e9e9e9;
}
#skPlayer .skPlayer-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .3);
  background-color: #d94240;
}
#skPlayer .skPlayer-list .skPlayer-list-sign {
  display: none;
  width: 3px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 5px;
  background-color: #d94240;
}
#skPlayer .skPlayer-list .skPlayer-list-index {
  color: #666;
  position: absolute;
  left: 15px;
  top: 0;
}
#skPlayer .skPlayer-list .skPlayer-list-name {
  color: #6a6b6f;
  float: left;
  margin-left: 24px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#skPlayer .skPlayer-list .skPlayer-list-author {
  color: #666;
  float: right;
  max-width: 107px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#skPlayer.skPlayer-list-on .skPlayer-list-outter {
  display: block;
}
#skPlayer .skPlayer-lyric-block {
  display: none;
  top: 10px;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  background-color: #fbfbfb;
  position: relative;
  overflow-y: hidden;
}
#skPlayer .skPlayer-lyric-block ul {
  
}
#skPlayer .skPlayer-lyric-block li {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #999;
  height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: color 0.5s;
  -moz-transition: color 0.5s; /* Firefox 4 */
  -webkit-transition: color 0.5s; /* Safari å’Œ Chrome */
  -o-transition: color 0.5s; /* Opera */
}
#skPlayer .skPlayer-lyric-block li.curLyric{
  color: #2b2929;
}
#skPlayer.skPlayer-lyric-on .skPlayer-lyric-block {
  display: block;
}
#skPlayer .skPlayer-lyric-block .skPlayer-add-lyric-button {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,0);
  background-image: url(./icon/add_lyric.png);
  background-size: 64px 64px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#skPlayer .skPlayer-lyric-block .skPlayer-add-lyric-button:hover {
  background-color: rgba(255,255,255,1);
}
#skPlayer .skPlayer-lyric-block.skPlayer-lyric-in .skPlayer-add-lyric-button {
  display: none;
}